<footer>
    <div class="nosotros row text-left">
      <a href="#" class="col-m-11">Sobre nosotros</a>
      <a href="#" class="col-m-11">About terms</a>
      <a href="/contacto" class="col-m-11">Contacto</a>
      <a href="https://www.buymeacoffee.com/cajutafe" target="_blank" class="col-m-11">Invitanos a un café <i class="fa-solid fa-mug-hot"></i></a>
    </div>
    <div class="row text-center">
      <img src="https://www.happycow.net/img/press/HappyCow_Logo_Head_Text.gif" alt="logo" class="img_sponsor col-m-4">
      <img src="https://www.happycow.net/img/press/HappyCow_Logo_Head_Text.gif" alt="logo" class="img_sponsor col-m-4">
      <img src="https://www.happycow.net/img/press/HappyCow_Logo_Head_Text.gif" alt="logo" class="img_sponsor col-m-4">
    </div>
    <div>
      <h4 class="text-center">Redes Sociales</h4>
      <a href="#" class="col-m-4"><i class="fa-brands fa-instagram"></i></a>
      <a href="#" class="col-m-4"><i class="fa-brands fa-twitter"></i></a>
      <a href="#" class="col-m-4"><i class="fa-brands fa-facebook"></i></a>
      <a href="#" class="col-m-4"><i class="fa-brands fa-tiktok"></i></a>
    </div>
  </footer>