<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error 404</title>
  <script src="https://kit.fontawesome.com/9597befe8a.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/jpg" href="img/favicon.ico" />
  <!-- css -->
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
  <main style="padding: 200px;">
    <h1 class="text-center">Error 404. Página no encontrada</h1>
    <h1 class="text-center"><i class="fa-regular fa-face-sad-cry" style="font-size: 5em; margin: 50px auto;"></i></h1>
    <h4 class="text-center"><a href="/">Ir a la página principal</a></h4>
  </main>
</body>

</html>