<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/9597befe8a.js" crossorigin="anonymous"></script>
  <title>Menu Vegan</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/responsive.css">
  <link rel="icon" type="image/jpg" href="img/favicon.ico"/>
</head>
<body>

  <%- include("partials/header") %>

  <div class="img_home col-">
    <img src="img/Recurso 3.svg" alt="logo" class="logo_incio">
  </div>
  <main class="main_home">
    <section>
      <h1>¿Qué es Menu Vegan?</h1>
      <p>Menu vegan es una aplicación web para esas personas que acaban de llegar al mundo del veganismo y por desconocimiento no saben que pueden comer en su día día. Los estigmas sociales han hecho creer que muchos de nosotras, las personas veganas, solo nos alimentamos a base de ensalas…</p>
      <br>
      <p>Como persona vegana vengo a decirte que eso no es así, que aquí podrás empezar a construir tu nueva receta para poder tener una alimentación respetuosa con los animales y con el mundo. Siempre que tengas dudas sobre que comer o si algún platillo que te ha ustado siempre tiene su versión vegana vengo a decirte que aquí esperamos poder ayudarte a resolverlo!</p>

    </section>
    <aside>
      <h2>Webs de interés</h2>
      <ul>
        <li><a href="https://es.wikipedia.org/wiki/Veganismo" target="_blank">Wikipedia</a></li>
        <li><a href="https://veganismo.org/" target="_blank">Podcast veganismo</a></li>
        <li><a href="https://www.animal-ethics.org/veganismo/" target="_blank">Ética animal</a></li>
        <li><a href="https://www.buenoyvegano.com/2020/02/08/veganismo-en-el-mundo/" target="_blank">Bueno y Vegano</a></li>
      </ul>
    </aside>

  </main>
  <div class="d-flex j-c-center d-column text-center mb-2">
    <h2 class="mb-2">Comer Vegano nunca ha sido tan fácil</h2>
    <div class="d-flex j-c-center bs-line">
      <div class="mini-art w-350 mar-20">
        <img src="img/hand.svg" alt="image" class="logos text-center">
        <p><span class="span-color">Sigue tu menú vegano o crea el tuyo propio</span><br>
          <br>
          Puedes personalizar tu menú para satisfacer tus necesidades y preferencias.</p>
      </div>
      <div class="mini-art w-350 mar-20 ">
        <img src="img/save.svg" alt="image" class="logos text-center">
        <p><span class="span-color">Reducir el desperdicio de alimentos</span><br>
          <br>
          Planificar con anticipación significa menos productos que se echan a perder en el refrigerador.</p>
      </div>
    </div>
    <div class="d-flex j-c-center text-center bs-line">
      <div class="mini-art w-350 mar-20">
        <img src="img/calendar.svg" alt="image" class="logos text-center">
        <p><span class="span-color">Elimina la ansiedad de no saber que comer</span><br>
          <br>
          Toma las decisiones con anticipación y en tu propio horario. Entonces no hay nada de qué preocuparse cuando es hora de comer!.</p>
      </div>
      <div class="mini-art w-350 mar-20 ">
        <img src="img/lupa.svg" alt="image" class="logos text-center">
        <p><span class="span-color">Productos fáciles de encontrar.</span><br>
          <br>
          Encuentra fácilmente los productos en tus supermercados o online.</p>
      </div>
    </div>
    
  </div>
  <button class="registro">¡Registrate!</button>

  <%- include("partials/footer") %>
  
  <script src="js/responsive.js"></script>
</body>
</html>