<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/9597befe8a.js" crossorigin="anonymous"></script>
  <title>Tu Menu Vegano</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/responsive.css">
  <link rel="icon" type="image/jpg" href="img/favicon.ico" />
</head>

<body>

  <%- include("partials/header") %>

    <main class="">
      <h1>Tu Menú Semanal <%= nombreUsuario %> </h1>
    </main>

    <%- include("partials/footer") %>

      <script src="js/responsive.js"></script>
</body>

</html>