<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/9597befe8a.js" crossorigin="anonymous"></script>
  <title>Tu Menu Vegano</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/menu.css">
  <link rel="stylesheet" href="css/responsive.css">
  <link rel="icon" type="image/jpg" href="img/favicon.ico" />
</head>

<body>

  <%- include("partials/header") %>

    <main class="mar-20">
      <h1 class="text-center mar-20">Tu Menú Semanal <%= nombreUsuario %>
      </h1>
      <div class="d-flex mar-20 j-c-spar">
        <h3 class="dia_sem d-flex">Lunes</h3>
        <div class="d-flex d-column">
          <h4 class="text-center desayuno">Desayuno</h4>
          <img src="img/platos/avena.jpg" alt="foto" class="img_menu  img_desayuno">
          <h5 class="text-center nom_desayuno nom_plato">Muesli</h5>
        </div>
        <div class="d-flex d-column">
          <h4 class="text-center comida">Comida</h4>
          <img src="img/platos/croquetas.jpg" alt="arroz_heura" class="img_menu  img_comida">
          <h5 class="text-center nom_comida nom_plato">Heura con arroz</h5>
        </div>
        <div class="d-flex d-column">
          <h4 class="text-center cena">Cena</h4>
          <img src="img/platos/sushi.jpg" alt="muesli" class="img_menu img_cena">
          <h5 class="text-center nom_cena nom_plato">Tacos con alubias</h5>
        </div>
      </div>
      <div class="d-flex mar-20 j-c-spar">
        <h3 class="dia_sem d-flex">Martes</h3>
        <div class="d-flex d-column">
          <h4 class="text-center desayuno">Desayuno</h4>
          <img src="img/platos/avena.jpg" alt="foto" class="img_menu  img_desayuno">
          <h5 class="text-center nom_desayuno nom_plato">Muesli</h5>
        </div>
        <div class="d-flex d-column">
          <h4 class="text-center comida">Comida</h4>
          <img src="img/platos/croquetas.jpg" alt="arroz_heura" class="img_menu  img_comida">
          <h5 class="text-center nom_comida nom_plato">Heura con arroz</h5>
        </div>
        <div class="d-flex d-column">
          <h4 class="text-center cena">Cena</h4>
          <img src="img/platos/sushi.jpg" alt="muesli" class="img_menu img_cena">
          <h5 class="text-center nom_cena nom_plato">Tacos con alubias</h5>
        </div>
      </div>
      <div class="d-flex mar-20 j-c-spar">
        <h3 class="dia_sem d-flex">Miércoles</h3>
        <div class="d-flex d-column">
          <h4 class="text-center desayuno">Desayuno</h4>
          <img src="img/platos/avena.jpg" alt="foto" class="img_menu  img_desayuno">
          <h5 class="text-center nom_desayuno nom_plato">Muesli</h5>
        </div>
        <div class="d-flex d-column">
          <h4 class="text-center comida">Comida</h4>
          <img src="img/platos/croquetas.jpg" alt="arroz_heura" class="img_menu  img_comida">
          <h5 class="text-center nom_comida nom_plato">Heura con arroz</h5>
        </div>
        <div class="d-flex d-column">
          <h4 class="text-center cena">Cena</h4>
          <img src="img/platos/sushi.jpg" alt="muesli" class="img_menu img_cena">
          <h5 class="text-center nom_cena nom_plato">Tacos con alubias</h5>
        </div>
      </div>
      <div class="d-flex mar-20 j-c-spar">
        <h3 class="dia_sem d-flex">Jueves</h3>
        <div class="d-flex d-column">
          <h4 class="text-center desayuno">Desayuno</h4>
          <img src="img/platos/avena.jpg" alt="foto" class="img_menu  img_desayuno">
          <h5 class="text-center nom_desayuno nom_plato">Muesli</h5>
        </div>
        <div class="d-flex d-column">
          <h4 class="text-center comida">Comida</h4>
          <img src="img/platos/croquetas.jpg" alt="arroz_heura" class="img_menu  img_comida">
          <h5 class="text-center nom_comida nom_plato">Heura con arroz</h5>
        </div>
        <div class="d-flex d-column">
          <h4 class="text-center cena">Cena</h4>
          <img src="img/platos/sushi.jpg" alt="muesli" class="img_menu img_cena">
          <h5 class="text-center nom_cena nom_plato">Tacos con alubias</h5>
        </div>
      </div>
      <div class="d-flex mar-20 j-c-spar">
        <h3 class="dia_sem d-flex">Viernes</h3>
        <div class="d-flex d-column">
          <h4 class="text-center desayuno">Desayuno</h4>
          <img src="img/platos/avena.jpg" alt="foto" class="img_menu  img_desayuno">
          <h5 class="text-center nom_desayuno nom_plato">Muesli</h5>
        </div>
        <div class="d-flex d-column">
          <h4 class="text-center comida">Comida</h4>
          <img src="img/platos/croquetas.jpg" alt="arroz_heura" class="img_menu  img_comida">
          <h5 class="text-center nom_comida nom_plato">Heura con arroz</h5>
        </div>
        <div class="d-flex d-column">
          <h4 class="text-center cena">Cena</h4>
          <img src="img/platos/sushi.jpg" alt="muesli" class="img_menu img_cena">
          <h5 class="text-center nom_cena nom_plato">Tacos con alubias</h5>
        </div>
      </div>
      <div class="d-flex mar-20 j-c-spar">
        <h3 class="dia_sem d-flex">Sábado</h3>
        <div class="d-flex d-column">
          <h4 class="text-center desayuno">Desayuno</h4>
          <img src="img/platos/avena.jpg" alt="foto" class="img_menu  img_desayuno">
          <h5 class="text-center nom_desayuno nom_plato">Muesli</h5>
        </div>
        <div class="d-flex d-column">
          <h4 class="text-center comida">Comida</h4>
          <img src="img/platos/croquetas.jpg" alt="arroz_heura" class="img_menu  img_comida">
          <h5 class="text-center nom_comida nom_plato">Heura con arroz</h5>
        </div>
        <div class="d-flex d-column">
          <h4 class="text-center cena">Cena</h4>
          <img src="img/platos/sushi.jpg" alt="muesli" class="img_menu img_cena">
          <h5 class="text-center nom_cena nom_plato">Tacos con alubias</h5>
        </div>
      </div>
      <div class="d-flex mar-20 j-c-spar">
        <h3 class="dia_sem d-flex">Domingo</h3>
        <div class="d-flex d-column">
          <h4 class="text-center desayuno">Desayuno</h4>
          <img src="img/platos/avena.jpg" alt="foto" class="img_menu  img_desayuno">
          <h5 class="text-center nom_desayuno nom_plato">Muesli</h5>
        </div>
        <div class="d-flex d-column">
          <h4 class="text-center comida">Comida</h4>
          <img src="img/platos/croquetas.jpg" alt="arroz_heura" class="img_menu  img_comida">
          <h5 class="text-center nom_comida nom_plato">Heura con arroz</h5>
        </div>
        <div class="d-flex d-column">
          <h4 class="text-center cena">Cena</h4>
          <img src="img/platos/sushi.jpg" alt="muesli" class="img_menu img_cena">
          <h5 class="text-center nom_cena nom_plato">Tacos con alubias</h5>
        </div>
      </div>
    </main>
    <button class="nuevo_menu">Generar nuevo menu</button>

    <%- include("partials/footer") %>

      <script src="js/responsive.js"></script>
      <script src="js/tumenu.js"></script>
</body>

</html>