<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Vegan Menu</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/jpg" href="img/favicon.ico" />
    <link rel="stylesheet" href="css/contacto.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/users.css">
    <script src="https://kit.fontawesome.com/9597befe8a.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include("partials/header") %>

    <h1 class="text-center">Registrarse</h1>
    <form class="topBefore signUpForm">
        <input type="text" id="nom" placeholder="Nombre*" name="nombre">
        <input type="text" id="apell" placeholder="Apellidos*" name="apell">
        <input type="email" id="email" placeholder="E-mail*" name="signUpEmail">
        <input type="password" id="pass1" placeholder="Contraseña (Mín 6)" name="passSignUp1">
        <input type="password" id="pass2" placeholder="Confirma la contraseña" name="passSignUp2">
        <input type="submit" class="submit" value="Registrarse">
        <div class="responseSignUP div-res-post text-center mt-1"></div>
        <!-- <div class="text-center row checkbox">
            <input type="checkbox" id="check" name="checkbox">
            <label for="">Acepto los <a href="#">Terminos y condiciones</a></label>
        </div> -->
    </form>

    <h1 class="text-center">Iniciar Sesión</h1>
    <form class="signInForm">
        <input type="email" id="signInEmail" placeholder="E-mail*" name="signInEmail">
        <input type="password" id="pass" placeholder="Contraseña" name="signInPass">
        <input type="submit" class="submit" value="¡Entrar!">
        <div class="responseSignIn div-res-post text-center mt-1"></div>
        <a href="/forgotPass" class="text-center mt-1">¿Has olvidado la contraseña?</a>
        <!-- <a href="#" class="text-center mt-1">Crear nueva cuenta</a> -->
    </form>

    <!-- <main class="text-center">
        <p>¿Ya eres miembro? <a href="/">Inicia Sesión</a></p>
    </main> -->

    <%- include("partials/footer") %>

    
    <script type="module" src="js/users.js"></script>
    <script src="js/responsive.js"></script>
</body>

</html>